.summary {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  .summary_card {
    position: relative;
    width: 200px;
    margin-right: 1.5em;
    text-align: left;
    cursor: pointer;
  }
  
  .summary_card * {
    pointer-events: none;
  }
  
  .summary_progress,
  .summary_title {
    position: relative;
    z-index: 10;
  }
  
  .summary_progress {
    opacity: 0;
    height: 2px;
  }
  
  .summary_progress--active {
    opacity: 1;
  }
  
  .summary_progress--blue {
    background-color: var(--blue-color);
  }
  
  .summary_progress--orange {
    background-color: var(--orange-color);
  }
  
  .summary_progress--gold {
    background-color: var(--gold-color);
  }
  
  .summary_bg {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    filter: brightness(50%);
  }
  
  .summary_title {
    display: inline-block;
    padding: 0.5em 1em;
  }