.popup_input {
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  border-radius: 3px;
  outline: none;
  border: none;
}
.popup_input:focus {
  background-color: var(--grey-popup);
  color: var(--yellow-popup);
  border: 1px solid var(--yellow-popup);
  caret-color: var(--yellow-popup);
}
.popup_input:focus::placeholder {
  color: var(--white);
}
.popup_input--expand {
  width: 100%;
}

.popup_input--error {
  border: 1px solid var(--red-popup);
}

.popup_input--error::placeholder {
  color: var(--red-popup);
}

.popup_errors {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.6em 0;
  color: var(--red-popup);
  text-align: left;
}
