.form_help {
  margin: 5px 0 30px;
  text-align: right;
}

.form_help a {
  color: var(--yellow-popup);
}

.form_help a:hover {
  text-decoration: underline;
}

.form_account {
  background-color: transparent;
  color: var(--yellow-popup);
}

.form_account:hover .form_account:focus {
  border: 1px solid var(--yellow-popup);
}
